<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookbook-vue-chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/prism.css">
</head>
<body>
    <header>VUE-CHAT's Cookbook<i class="fa fa-bars"></i></header>
    <div id="__middle">
        {% include side_menu.html %}
        <div id="__content">
            {{content}}
        </div>
    </div>
    <footer></footer>
    <script src="js/prism.js"></script>
</body>
</html>